body{
    font-family: sans-serif;
}

.header-container{
    background-color: #525c4c;
    margin-top: 0;
}
.page-header {
    
    padding: 20px 20px 20px 40px;
    margin-bottom: 20px;
}

h1 a, h2 a{
    color: #7fad2a;
   
}

.detail-header{
    color: #525c4c;
    
}

.published{
    font-style: italic;
    color: gray;
}
.detail-published{
    
    font-style: italic;
    color: gray;
    text-align: right;
}

.post{
    margin-bottom: 24px;
    padding: 12px;
}