{% extends 'blog/base.html' %}

{% block content %}
<div class="header-container container-fluid">
    <div class="container page-header">
        <h1><a href="/">My Django Blog</a></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="post card">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="published">published: {{ post.published_date }}</p>
                <p class="text-truncate">{{ post.text|linebreaksbr }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}