{% extends 'blog/base.html' %}

{% block content %}
<div class="header-container container-fluid">
    <div class="container page-header">
        <h1><a href="/">My Django Blog</a></h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div >

            <div class="post">
                {% if post.published_date %}
                <p class="detail-published">{{ post.published_date }}</p>

                <h2 class="detail-header">{{ post.title }}</h2>

                <p>{{ post.text|linebreaksbr }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}